.Layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(187, 212, 212);
  z-index: 1000;
}

div.Layout > header > h1 {
  font-size: 12px;
}

.Main {
  margin-top: 30px;
  flex: 1;
  padding: 20px;
}

.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(157, 157, 212);
  z-index: 1000;
}
